body {
	margin: 0;
	padding: 0;
}
#principal-header {
	background-color: whitesmoke;
}	
#logo-header{
  float: left;
	padding: 15px;
	text-decoration: none;
}
nav {
	float: right;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}
	
		nav ul li {
			display: inline-block;
			line-height: 80px;
    }
    nav ul li a {
      display: block;
      padding: 10px;
      text-decoration: none;
    }

.menu_sec{
  clear: both;
  text-align: center;
  }
.ms-item{
  list-style-type: none;
  text-decoration: none;
  background-color: #F6E3CA;
  border: #D7C8B6 2px solid;
  float: center;
  margin-right: 10px;
  padding: 0 4px;
}
.principal-section{
  background-color: gray;
  clear: both;
  height: auto;
}

.secundaria-section{
  background-color: white;
  clear: both;
}

.imgen-carro img{
  max-width: 100%;
  height: 150px;
  border-radius: 20px;
}

.imgen-carro img:hover{
  background-color: white;
  z-index: 500;
  opacity: none;
}

.imgen-carro{
  position: relative;
  float: left;
  max-width: 22%;
  text-align: center;
  padding: 1%;
}
input:invalid 
{
  border: 2px dashed red;
}
input:invalid:required 
{
  background-image: linear-gradient(to right, pink, lightgreen);
}
input:valid 
{
  border: 2px solid black;
}

